/* Global styles */
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #5fc918e6;
  line-height: 1.5;
  color: #383636fb;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}