/* Global Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #a5e60e93;
  line-height: 1.5;
  color: #383636fb;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}