/* Global styles */
body {
  font-family: "Noto Sans", sans-serif;
  background-color: rgba(105, 173, 59, 0.9019607843);
  line-height: 1.5;
  color: rgba(56, 54, 54, 0.9843137255);
}

img {
  max-width: 100%;
}

/* Global Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgba(200, 233, 147, 0.63);
}
.nav__logo {
  width: fit-content;
}
.nav__logo img {
  height: 25%;
  width: 25%;
  justify-content: center;
  align-items: center;
}
.nav__menu {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}
@media (max-width: 768px) {
  .nav__menu {
    display: none;
  }
}
.nav__item a {
  color: #333;
}
.nav__toggle {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .nav__toggle {
    display: flex;
  }
}
.nav__toggle__icon {
  width: 50px;
  height: 6px;
  background-color: #ffffff;
}
.nav__toggle--active .nav__menu {
  display: flex;
  flex-direction: column;
}