.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.nav__logo img {
  height: 80px;
  width: auto;
  display: block;
}

.nav__menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav__item {

}

.nav__link {
  color: #0d7c25;
  font-weight: 500;
}

.nav__link:hover {
  color: #ffee00de;
}